/ClienteServidor/nbproject/private/
/ClienteServidor/build/
/ClienteServidor/dist/
/Tarea1_ClienteServidor/nbproject/private/
/Tarea1_ClienteServidor/build/
/Tarea2ClienteServidor/nbproject/private/
/Tarea2ClienteServidor/build/
/PracticaExamen1/nbproject/private/
